.page-nav {
    // border: 1px dotted red;
    // width: 800px;
    margin: 1rem auto;

    .nav-numbers {
        display: inline;
        margin: 0rem 2rem;
    }
    .nav-btn {
        width: 6rem;
    }
}