.App {
  text-align: center;

  .gallery {
    // border: 1px dotted purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: 0.5rem auto;

    .gif-container {
      // border: 1px dotted blue;
      // width: 200px;
      min-width: 250px;
      max-width: 500px;
      // min-height: 150px;
      // max-height: 250px;
      height: 250px;
      margin: 0.3rem;
      flex: 1 1 23%;
  
      background-size: cover;
      background-position: center center;
      background-color: #fff;
      background-repeat: no-repeat;
      border-radius: 5px 5px 0 0;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
